/* src/app/globals.css */
@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-foreground: #0f172a;
  --color-background: #f8fafc;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
